<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guide by specialization admin-page</title>
    <style>
        <%- include('../../public/styles/dashboard.css'); %>
        <%- include('../../public/styles/modal_window.css'); %>
    </style>
</head>
<body>
    <div id="container">
        <div id="logout">
            <button id="logout-btn">Log out</button>
        </div>
        <div class="admin-panel">
            <h1>Admin dashboard</h1>
            <div id="content">
                <div id="content-data">
                    <ul id="categories"></ul>
                    <ul id="category-content"></ul>
                </div>
                <div id="content-editing"></div>
            </div>
        </div>
    </div>
    <%- include('../../public/portions/modal_window.ejs'); %>
    <script>
        <%- include('../../public/scripts/modal_window.js'); %>
        <%- include('../../public/scripts/dashboard.js'); %>
    </script>
</body>
</html>